// 主色调
@color-1: #e9eafc;
@color-2: #c2c4f7;
@color-3: #9fa2f2;
@color-4: #7f83ee;
@color-5: #6266ea;
@color-6: #4549e6;
@color-7: #2b2fe2;
@color-8: #1d21d5;
@color-9: #1a1ec0;
@color-10: #171bad;

// 中性色
@m-color-1: #ffffff;
@m-color-2: #fafafa;
@m-color-3: #f5f5f5;
@m-color-4: #f0f0f0;
@m-color-5: #d9d9d9;
@m-color-6: #bfbfbf;
@m-color-7: #8c8c8c;
@m-color-8: #595959;
@m-color-9: #383838;
@m-color-10: #262626;
@m-color-11: #141414;
@m-color-12: #000000;

// 辅助色
@a-color-1: #abc2dd;
